.vscode
.vscode/*
**/*.pyc
bin/__pycache__/*
*.pyc
bin/__pycache__/*.pyc
bin/sphase*.py
sphase*
testdata/*
*.jpg
*.map
*.fa
*.ebwt
.vscode/perl-lang/home/riceUsers/fzr/phasiHunter/bin/PhaseTank_v1.0.pl
.vscode/launch.json
PhaseTank_v1.0.pl
hypergeometric_test.py
bin/__pycache__/phaseFunction.cpython-38.pyc
.vscode/perl-lang/home/riceUsers/fzr/phasiHunter/bin/PhaseTank_v1.0.pl
Test.py
bin/__pycache__/phaseFunction.cpython-38.pyc
bin/dnapilib/__pycache__/__init__.cpython-38.pyc
bin/dnapilib/__pycache__/__init__.cpython-38.pyc
bin/dnapilib/__pycache__/__init__.cpython-38.pyc
bin/dnapilib/__pycache__/apred.cpython-38.pyc
bin/dnapilib/__pycache__/exhaust.cpython-38.pyc
bin/dnapilib/__pycache__/io_utils.cpython-38.pyc
bin/dnapilib/__pycache__/kmer.cpython-38.pyc
bin/__pycache__/phaseFunction.cpython-38.pyc
bin/bp.py
bin/test.py
bin/debug
bin/__pycache__/phaseFunction.cpython-38.pyc
